.post{
    width: 600px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.post-header, .post-footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.post-user, .post-control, .post-action, .post-share{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-weight: bold;
}